Source: sssd
Section: utils
Priority: extra
Maintainer: Petter Reinholdtsen <pere@debian.org>
Uploaders: Morten Werner Forsbring <werner@debian.org>
Build-Depends: debhelper (>= 8.1.3~), quilt, dh-autoreconf, autopoint, lsb-release,
 dnsutils,
 libpopt-dev,
 libdbus-1-dev,
 libldap2-dev,
 libpam-dev,
 libnss3-dev,
 libnspr4-dev,
 libpcre3-dev,
 libselinux1-dev,
 libsasl2-dev,
 libtevent-dev,
 libldb-dev,
 libtalloc-dev,
 libtdb-dev,
 xml-core,
 docbook-xsl,
 docbook-xml,
 libxml2-utils,
 xsltproc,
 krb5-config,
 libkrb5-dev,
 libc-ares-dev,
 python-dev (>= 2.3.5-11),
 python-central (>= 0.6),
 libsemanage1-dev,
 libunistring-dev,
 libdhash-dev,
 libcollection-dev,
 libini-config-dev,
 check,
Standards-Version: 3.9.1
XS-Python-Version: current
Vcs-Git: git://git.debian.org/git/collab-maint/pkg-sssd
Vcs-Browser: http://git.debian.org/?p=collab-maint/pkg-sssd.git
Homepage: https://fedorahosted.org/sssd/

Package: sssd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python,
 python-sss,
 libipa-hbac0 (= ${binary:Version}),
Pre-Depends: ${misc:Pre-Depends}
Recommends: ldap-utils,
 bind9-host,
 libnss-sss,
 libpam-sss,
 libsasl2-modules-gssapi-mit,
 libsasl2-modules-ldap,
Suggests:
 sssd-tools,
Description: System Security Services Daemon 
 Provides a set of daemons to manage access to remote directories and
 authentication mechanisms. It provides an NSS and PAM interface toward
 the system and a pluggable backend system to connect to multiple different
 account sources. It is also the basis to provide client auditing and policy
 services for projects like FreeIPA.
 .
 This package provides the daemon.

Package: sssd-tools
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 sssd (= ${binary:Version}),
Breaks: sssd (<= 1.8.0)
Replaces: sssd (<= 1.8.0)
Description: System Security Services Daemon -- tools
 Provides a set of daemons to manage access to remote directories and
 authentication mechanisms. It provides an NSS and PAM interface toward
 the system and a pluggable backend system to connect to multiple different
 account sources. It is also the basis to provide client auditing and policy
 services for projects like FreeIPA.
 .
 This package provides tools to manage users, groups and nested groups when
 using the local id provider.

Package: libnss-sss
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, perl
Pre-Depends: multiarch-support
Recommends: sssd
Multi-Arch: same
Description: Nss library for the System Security Services Daemon 
 Provides a set of daemons to manage access to remote directories and
 authentication mechanisms. It provides an NSS and PAM interface toward
 the system and a pluggable backend system to connect to multiple different
 account sources. It is also the basis to provide client auditing and policy
 services for projects like FreeIPA.
 .
 This package provide the nss library to connect to the sssd daemon.

Package: libpam-sss
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libpam-runtime (>= 1.0.1-6)
Recommends: sssd
Multi-Arch: same
Breaks: sssd (<< 1.8.0~beta3-1)
Replaces: sssd (<< 1.8.0~beta3-1)
Description: Pam module for the System Security Services Daemon 
 Provides a set of daemons to manage access to remote directories and
 authentication mechanisms. It provides an NSS and PAM interface toward
 the system and a pluggable backend system to connect to multiple different
 account sources. It is also the basis to provide client auditing and policy
 services for projects like FreeIPA.
 .
 This package provide the pam module to connect to the sssd daemon.

Package: libipa-hbac0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Pre-Depends: multiarch-support
Conflicts: sssd (<< 1.5.15)
Replaces: sssd (<< 1.5.15)
Multi-Arch: same
Description: FreeIPA HBAC Evaluator library
 Utility library to validate FreeIPA HBAC rules for authorization requests.

Package: libipa-hbac-dev
Section: libdevel
Architecture: any
Depends: libipa-hbac0 (= ${binary:Version})
Conflicts: sssd (<< 1.5.15)
Replaces: sssd (<< 1.5.15)
Description: FreeIPA HBAC Evaluator library
 Utility library to validate FreeIPA HBAC rules for authorization requests.
 .
 This package contains header files and symlinks to develop programs which will
 use the libipa-hbac library.

Package: libsss-sudo0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Pre-Depends: multiarch-support
Multi-Arch: same
Description: Utility library to allow communication between SUDO and SSSD
 Utility library to allow communication between SUDO and SSSD.

Package: libsss-sudo-dev
Section: libdevel
Architecture: any
Depends: libsss-sudo0 (= ${binary:Version})
Description: Utility library to allow communication between SUDO and SSSD -- development files
 Utility library to allow communication between SUDO and SSSD.
 .
 This package contains header files and symlinks to develop programs which will
 use the libsss-sudo library.

Package: python-libipa-hbac
Section: python
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends},
 libipa-hbac0 (= ${binary:Version})
Conflicts: python-sss (<< 1.5.15)
Replaces: python-sss (<< 1.5.15)
Description: Python bindings for the FreeIPA HBAC Evaluator library
 The libipa_hbac-python contains the bindings so that libipa_hbac can be
 used by Python applications.

Package: python-sss
Section: python
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}
Provides: ${python:Provides}
Recommends: sssd
XB-Python-Version: ${python:Versions}
Description: Python module for the System Security Services Daemon
 Provides a set of daemons to manage access to remote directories and
 authentication mechanisms. It provides an NSS and PAM interface toward
 the system and a pluggable backend system to connect to multiple different
 account sources. It is also the basis to provide client auditing and policy
 services for projects like FreeIPA.
 .
 This package provide a module to access the configuration of the sssd daemon.
