#!/usr/bin/make -f
%:
	dh $@ --with quilt,autoreconf

APIDOCDIR = /usr/share/sssd

override_dh_auto_configure:
	dh_auto_configure -- --enable-krb5-locator-plugin \
	--libdir=\$${prefix}/lib/$(DEB_HOST_MULTIARCH) \
	--with-ldb-lib-dir=\$${prefix}/lib/$(DEB_HOST_MULTIARCH)/ldb/modules/ldb \
	--with-krb5-plugin-path=\$${libdir}/krb5/plugins/libkrb5 \
	--enable-nsslibdir=/lib/$(DEB_HOST_MULTIARCH) \
	--enable-pammoddir=/lib/$(DEB_HOST_MULTIARCH)/security

override_dh_install:
	dh_install
	mkdir -p $(CURDIR)/debian/sssd$(APIDOCDIR)/sssd.api.d/
	install -D -m640 $(CURDIR)/src/config/etc/sssd.api.conf \
		$(CURDIR)/debian/sssd/$(APIDOCDIR)/sssd.api.conf
	install -m640 $(CURDIR)/src/config/etc/sssd.api.d/* \
		$(CURDIR)/debian/sssd/$(APIDOCDIR)/sssd.api.d/
	install -D -m755 $(CURDIR)/debian/generate-config \
		$(CURDIR)/debian/sssd/usr/lib/sssd/generate-config

	find $(CURDIR)/debian/python-sss/ -name '*.la' -exec rm '{}' ';'
	dh_pycentral -ppython-sss
